<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.unity.ads" android:versionName="1.0" android:versionCode="1">
  <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19" />
  <application>
    <activity android:name="com.unity3d.player.UnityPlayerNativeActivity" android:label="Basic Balls">
      <meta-data android:name="com.Company.Nerd.Byrd" android:value="ca-app-pub-6462995892334491~8830862545" />
      <meta-data android:name="com.Company.Nerd.Byrd" android:value="ca-app-pub-6462995892334491~8830862545" />
      android:value="true" /&gt;
    </activity>
    <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-6462995892334491~8830862545" />
  </application>
</manifest>